<!DOCTYPE html>
<html>
  <head>
    <title>A Bowling Alley</title>
  </head>
  <body>
    <h1>Buster's Best Bowling Alley</h1>
    <h2>Where you can bowl.</h2>
    <p>An address of a bowling alley.</p>
  </body>
</html>